#container {
    width: 80%;
    height: auto;
    margin: 40px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#todoForm {
    width:50%;
    margin:20px 25%;
   
}
form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forms {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}
.buttonz{
    padding:5px;
    border-radius: 8px;
}
#todos{
    width:80%;
    height:auto;
    margin:20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
#todo{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4facfe;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.3);
    margin-bottom:20px;
    padding:15px;
    border-radius:8px;

}
#info{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#buttons{
    width:20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#buttons>button{
    text-decoration: none;
    color:black;
    border-radius: 8px;
}